body{
    background-color: lightgrey;
    
}

#number {
    width: 3em;
}

.container{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    border: solid;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
